{% extends "base.html" %}

{% block content %}
<h3>Formulario de Película</h3>

<ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> {{ pelicula.id }}</li>
    <li class="list-group-item"><strong>Título:</strong> {{ pelicula.titulo|capfirst }}</li>
    <li class="list-group-item"><strong>Género:</strong> {{ pelicula.genero|capfirst }}</li>
    <li class="list-group-item"><strong>Año:</strong> {{ pelicula.anio }}</li>
    <li class="list-group-item">
        <strong>Picture:</strong>
        {% if pelicula.picture %}
            <img src="{{ pelicula.picture.url }}" alt="{{ pelicula.titulo }}" class="img-thumbnail" style="max-height: 200px;">
        {% else %}
            No hay imagen disponible
        {% endif %}
    </li>
    <li class="list-group-item"><strong>Director:</strong> {{ pelicula.director.nombre }}</li>
</ul>

<a href="{% url 'movies:index' %}" class="btn btn-primary mt-3">Volver al inicio</a>
{% endblock content %}
