{% extends "base.html" %}

{% block content %}
<h3>Formulario de Autor</h3>

<ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> {{ autor.id }}</li>
    <li class="list-group-item"><strong>Nombre:</strong> {{ autor.nombre|capfirst }}</li>
    <li class="list-group-item"><strong>Nacionalidad:</strong> {{ autor.nacionalidad|capfirst }}</li>

    <li class="list-group-item">
        <strong>Picture:</strong><br>
        {% if autor.picture %}
            <img src="{{ autor.picture.url }}" alt="{{ autor.nombre }}" class="img-thumbnail" style="max-height: 200px;">
        {% else %}
            No hay imagen disponible
        {% endif %}
    </li>
</ul>

<h3 class="mt-4">Películas del autor</h3>
<ul class="list-unstyled">
    {% for pelicula in autor.pelicula_set.all %}
        <li class="mb-2">
            <strong>{{ pelicula.titulo }}</strong> ({{ pelicula.genero|capfirst }})
            {% if pelicula.picture %}
                <img src="{{ pelicula.picture.url }}" alt="{{ pelicula.titulo }}" style="height:50px; margin-left:10px;">
            {% endif %}
        </li>
    {% empty %}
        <li>No tiene películas asignadas.</li>
    {% endfor %}
</ul>

<div class="mt-3">
    <a href="{% url 'movies:edit_director' autor.id %}" class="btn btn-warning">
        <i class="fa-solid fa-pen-to-square"></i> Editar
    </a>

    <a href="{% url 'movies:delete_director' autor.id %}" class="btn btn-danger">
        <i class="fa-solid fa-trash"></i> Eliminar
    </a>

    <a href="{% url 'movies:index' %}" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left"></i> Volver
    </a>
</div>
{% endblock content %}
