{% extends "base.html" %}
{% block title %}Formulario Pokemon{% endblock title %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
            
                <div>
                    <label for="username">Usuario: </label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div>
                    <label for="password">Contraseña: </label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
            
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a href="{% url 'pokedex:index' %}" class="btn btn-secondary">Cancelar</a>

            </div>
        </div>
    </form>
{% endblock content %}
